/* Default Light Theme */
:root {
    --bg: #f3f4f6;
    --text: #1f2937;
    --card: white;
    --accent: #6366f1;
}

/* Dark Theme */
[data-theme="dark"] {
    --bg: #020617;
    --text: #e5e7eb;
    --card: #0f172a;
    --accent: #38bdf8;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* App */
.app {
    text-align: center;
}

/* Button */
button {
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background: var(--accent);
    color: white;
    cursor: pointer;
}

/* Card */
.card {
    background: var(--card);
    padding: 25px;
    border-radius: 10px;
    max-width: 300px;
}
